In [6]:
import pandas as pd
#pip install pyxlsb
df_mw = pd.read_excel("2019 Commercial Building Inventory - Midwest.xlsb",engine='pyxlsb',sheet_name='City',nrows=100)
df_ne = pd.read_excel("2019 Commercial Building Inventory - Northeast.xlsb",engine='pyxlsb',sheet_name='City',nrows=100)
df_sa = pd.read_excel("2019 Commercial Building Inventory - South Atlantic.xlsb",engine='pyxlsb',sheet_name='City',nrows=100)
df_w = pd.read_excel("2019 Commercial Building Inventory - West.xlsb",engine='pyxlsb',sheet_name='City',nrows=100)
df_sc = pd.read_excel("2019 Commercial Building Inventory - South Central.xlsb",engine='pyxlsb',sheet_name='City',nrows=100)
df_mw.columns

Index(['Unnamed: 0', 'city_name', 'Unnamed: 2', 'countyname', 'statefp',
       'statecode', 'bldg_count', 'reported_propertytype',
       'reported_propertysubtype', 'rentablebuildingarea_mean',
       'yearbuilt_mean', 'stories', 'index', 'doe_prototype', 'cbecs',
       'Unnamed: 15', 'area_sum', 'Unnamed: 17', 'placeid', 'countyid'],
      dtype='object')

In [4]:
df_merged = pd.merge(df_mw, df_ne, on='city_name', how='outer', suffixes=('_mw', '_ne'))
df_merged = pd.merge(df_merged, df_sa, on='city_name', how='outer', suffixes=('_merged', '_sa'))
df_merged = pd.merge(df_merged, df_w, on='city_name', how='outer', suffixes=('_merged', '_w'))
df_merged = pd.merge(df_merged, df_sc, on='city_name', how='outer', suffixes=('_merged', '_sc'))

df_merged

,Unnamed: 0_mw,city_name,Unnamed: 2_mw,countyname_mw,statefp_mw,statecode_mw,bldg_count_mw,reported_propertytype_mw,reported_propertysubtype_mw,rentablebuildingarea_mean_mw,...,yearbuilt_mean,stories,index,doe_prototype,cbecs,Unnamed: 15,area_sum,Unnamed: 17,placeid,countyid
0,NaN,Adel,NaN,Dallas County,19.0,IA,1.0,Flex,Light Distribution,17300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Adel,NaN,Dallas County,19.0,IA,1.0,Flex,Light Manufacturing,9000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Adel,NaN,Dallas County,19.0,IA,1.0,Industrial,Warehouse,12300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Adel,NaN,Dallas County,19.0,IA,1.0,Industrial,Warehouse,14000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Adel,NaN,Dallas County,19.0,IA,1.0,Industrial,Warehouse,21000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,NaN,Alabaster,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2000.0,3.0,1.0,office,Other,NaN,18600.0,NaN,100820.0,1117.0
496,NaN,Alabaster,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2001.0,1.0,1.0,office,Other,NaN,8900.0,NaN,100820.0,1117.0
497,NaN,Alabaster,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2004.0,2.0,1.0,office,Other,NaN,11000.0,NaN,100820.0,1117.0
498,NaN,Alabaster,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2005.0,1.0,1.0,office,Other,NaN,5000.0,NaN,100820.0,1117.0
499,NaN,Alabaster,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2005.0,1.0,1.0,office,Other,NaN,14600.0,NaN,100820.0,1117.0

In [5]:
result_df = pd.concat([df_mw, df_ne, df_sa, df_w, df_sc], ignore_index=True)
result_df

,Unnamed: 0,city_name,Unnamed: 2,countyname,statefp,statecode,bldg_count,reported_propertytype,reported_propertysubtype,rentablebuildingarea_mean,yearbuilt_mean,stories,index,doe_prototype,cbecs,Unnamed: 15,area_sum,Unnamed: 17,placeid,countyid
0,NaN,Adel,NaN,Dallas County,19,IA,1,Flex,Light Distribution,17300,1940.0,NaN,2,warehouse,Distribution/shipping center,NaN,17300,NaN,1900505.0,19049
1,NaN,Adel,NaN,Dallas County,19,IA,1,Flex,Light Manufacturing,9000,NaN,1.0,3,warehouse,Other,NaN,9000,NaN,1900505.0,19049
2,NaN,Adel,NaN,Dallas County,19,IA,1,Industrial,Warehouse,12300,1955.0,1.0,31,warehouse,Non-refrigerated warehouse,NaN,12300,NaN,1900505.0,19049
3,NaN,Adel,NaN,Dallas County,19,IA,1,Industrial,Warehouse,14000,1960.0,1.0,31,warehouse,Non-refrigerated warehouse,NaN,14000,NaN,1900505.0,19049
4,NaN,Adel,NaN,Dallas County,19,IA,1,Industrial,Warehouse,21000,1980.0,1.0,31,warehouse,Non-refrigerated warehouse,NaN,21000,NaN,1900505.0,19049
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,NaN,Alabaster,NaN,Shelby County,1,AL,3,Flex,NaN,6200,2000.0,3.0,1,office,Other,NaN,18600,NaN,100820.0,1117
496,NaN,Alabaster,NaN,Shelby County,1,AL,1,Flex,NaN,8900,2001.0,1.0,1,office,Other,NaN,8900,NaN,100820.0,1117
497,NaN,Alabaster,NaN,Shelby County,1,AL,2,Flex,NaN,5500,2004.0,2.0,1,office,Other,NaN,11000,NaN,100820.0,1117
498,NaN,Alabaster,NaN,Shelby County,1,AL,1,Flex,NaN,5000,2005.0,1.0,1,office,Other,NaN,5000,NaN,100820.0,1117
499,NaN,Alabaster,NaN,Shelby County,1,AL,1,Flex,NaN,14600,2005.0,1.0,1,office,Other,NaN,14600,NaN,100820.0,1117